body {
  background: #0b6623;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: white;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.top-suit {
  font-size: 50px;
}

.value {
  text-align: center;
  font-size: 80px;
}

.bottom-suit {
  font-size: 50px;
  transform: rotate(180deg);
}

.timer-container {
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #ffffff;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}
